---
import { Image } from "astro:assets";
import image1 from '../images/layout/gestion.webp';
import image2 from '../images/layout/encuentros.webp';
import image3 from '../images/layout/soluciones.webp';
---

<div class="max-w-screen-lg pt-4 m-auto text-black w-full md:w-2/3 text-center my-12">
  <h1 class="w-full text-[40px] md:text-[50px] leading-tight font-light">Bienvenidos a la Iniciativa</h1>
  <span class="w-full text-[40px] md:text-[50px] font-semibold">Deseo Compartir</span>

  <div class="flex justify-around my-12 text-orange-600 m-auto w-full md:w-2/3 px-4">
    <span>Participar</span>
    <span class="border border-slate-500"></span>
    <span>Compartir</span>
    <span class="border border-slate-500"></span>
    <span>Influenciar</span>
  </div>

  <p class="font-light px-4">
    Aumentamos la <span class="font-semibold">Participación Ciudadana</span> a través de una <span class="font-semibold">Ruta de Gestión CoSocial Integradora</span>, para ayudar a mejorar la <span class="font-semibold">Convivencia Social</span> y el <span class="font-semibold">Desarrollo</span> de los habitantes de las Unidades Vecinales del País.
  </p>
</div>

<div class="max-w-screen-lg md:w-5/6 flex-wrap md:flex md:flex-row-reverse text-black m-auto my-12">
  <Image
    src={image1}
    alt="Gestión e Interacción CoSocial"
    title="Gestión e Interacción CoSocial"
    class="h-min rounded-lg max-h-[600px] w-full md:w-1/2 p-4 md:p-0"
    decoding="async"
    loading="lazy"
  />
  <div class="font-light max-h-full w-full md:w-1/2 px-4">
    <p class="mb-6 text-justify">
      <span class="font-semibold">Deseo Compartir</span> propone un <span class="font-semibold">Modelo de Gestión e Interacción CoSocial</span>, participativo y digital ideado para Organizaciones Comunitarias y Sociales, que necesitan aumentar la participación ciudadana en sus territorios.
    </p>
    <p class="text-justify"
      <span class="font-semibold">Este Modelo de Gestión e Interacción CoSocial</span> está estructurado de acuerdo a un tipo especial e innovador de conocimiento que está basado en la <span class="font-semibold">Filosofía y Método Bienestar Superior</span>, y que utiliza una Plataforma Web Abierta y Gratuita como medio digital de conexión, interacción y participación ciudadana.
    </p>
  </div>
</div>

<div class="max-w-screen-lg w-full md:w-5/6 flex-wrap md:flex text-black m-auto my-12">
  <Image
    src={image2}
    alt="transformar y/o construir espacios"
    title="Transformar y/o Construir Espacios"
    class="h-min rounded-lg max-h-[600px] w-full md:w-1/2 p-4 md:p-0"
    decoding="async"
    loading="lazy"
  />
  <div class="font-light max-h-full w-full md:w-1/2 px-4">
    <p class="mb-6 text-justify">
      Buscamos, además, transformar y/o construir espacios de <span class="font-semibold">Encuentros CoSociales</span> que permitan generar un <span class="font-semibold">Entorno de Influencia</span> positivo en las Unidades Vecinales del país, para facilitar las interacciones en un sistema de relaciones entre personas que provoquen y propicien acciones como: coordinar, definir propósitos, hacer propuestas, negociar, pedir ayuda, colaborar, etc. Aportando al florecimiento de la <span class="font-semibold">Voluntad Política</span> y despertando el <span class="font-semibold">Deseo de Compartir</span> al interior de los <span class="font-semibold">Entornos de Influencia</span>.
    </p>
  </div>
</div>

<div class="min-h-[40px] w-full py-12 px-4 bg-[#809316] text-center italic my-6">
  <p class="max-w-screen-lg m-auto">
    Revisa visualmente una <span class="font-semibold">DEMO</span> de nuestra aplicación web gratuita, que utilizamos como medio digital de conexión, interacción y participación ciudadana, para la gestión de tu comunidad.
  </p>
  <div class="mt-4">
    <a href="https://demo.deseocompartir.cl" target="_blank"class="rounded-full bg-[#EBA801] hover:opacity-80 transition-all py-2 px-4 m-auto max-w-max">Demo</a>
  </div>
</div>

<div class="max-w-screen-lg w-full md:w-5/6 flex-wrap md:flex text-black m-auto my-12">
  <Image
    src={image3}
    alt="Procesos Participativos"
    title="Descubre nuestras soluciones"
    class="h-min rounded-lg max-h-[600px] w-full md:w-1/2 p-4 md:p-0"
    decoding="async"
    loading="lazy"
  />
  <div class="font-light max-h-full w-full md:w-1/2 px-4">
    <h2 class="font-semibold text-[25px] md:text-[30px] leading-tight">Descubre nuestras soluciones</h2>
    <p class="mb-6 text-justify">
      gratuitas para comenzar gestionar de forma más profesional y transparente, todo en un solo lugar:
    </p>
    <p class="text-justify"><span class="font-semibold">Procesos Participativos:</span> Aquí participamos tod@s.</p>
    <p class="text-justify"><span class="font-semibold">Juntas de Vecinos:</span> Personas más informadas y conectadas.</p>
    <p class="text-justify"><span class="font-semibold">Organizaciones Comunitarias y Sociales:</span> Gestión a un nivel superior en tu comunidad.</p>
    <p class="text-justify"><span class="font-semibold">Lista de Deseos:</span> Comparte un Deseo, Iniciativa o Sueño que emocione, comprometa y/o impacte positivamente a muchas personas de tu comunidad.</p>
  </div>
</div>

<div class="py-12 px-3 my-12 bg-[#EBEBEB]/75 text-black">
  <div class="max-w-screen-lg m-auto">
    <h3 class="text-[20px] md:text-[30px] leading-tight"><span class="text-nowrap">Encuentra <span class="font-semibold">Deseo Compartir</span></span> <span class="text-nowrap">en tu Comuna</span></h3>
    <p class="text-sm my-3">Selecciona tu comuna para encontrar y compartir deseos específicos de tu comunidad.</p>
    <div class="flex inline-flex align-middle gap-x-3">
      <div class="text-[12px] md:text-[14px]">Selecciona tu comuna</div>
      <select name="" id="" class="py-2 px-3 bg-[#809316] rounded-full text-white text-[14px]">
        <option value="">-- Selecciona tu Comuna --</option>
        <option value="chiguayante">Chiguayante</option>
        <option value="san bernardo">San Bernardo</option>
      </select>
    </div>
  </div>
</div>

<div class="max-w-screen-lg m-auto my-12 text-black font-[20px] font-light text-center px-4">
  <p class="w-full md:w-5/6 m-auto">Si te interesa conocer cómo la <span class="font-semibold">Iniciativa Deseo Compartir</span> puede ayudar a mejorar la gestión de tu comunidad u organización comunitaria y social, contáctanos y revisamos la forma de aportar al logro de sus objetivos.</p>
  <div class="rounded-full bg-[#EBA801] hover:opacity-80 transition-all py-2 px-6 m-auto max-w-max mt-3 text-white">WHATSAPP</div>
</div>